// General button styles
.button {
    display: inline-block;
    border: 0;
    padding: 10px 20px 9px;
    background-color: inherit;
    border-radius: 40px;
    height: auto;
    overflow: hidden;
    width: auto;
    vertical-align: middle;
    text-align: center;
    margin-top: 16px;
    @include unselectable;
}

.button-icon {
    display: inline-block;
    text-align: left;
    padding: 5px 20px 5px 10px;

    i {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 0px;
        vertical-align: middle;
    }

    p {
        display: inline-block;
        position: relative;
        top: 2.5px;
    }
}

a:hover {
    cursor: hand;
}

// Specific styles
.drib {
    background-color: $drib;
    color: $white;
    @include transition(0.5s ease);
}

.drib:hover {
    @include box-shadow(0.8 , 40px);
    background-color: $white;
    color: $drib;
}

.face {
    background-color: $face;
    color: $white;
    @include transition(0.5s ease);

    i {
        margin-left: 5px;
        vertical-align: middle;
    }
}

.face:hover {
    @include box-shadow(0.8 , 40px);
    background-color: $white;
    color: $face;
}

.twit {
    background-color: $twit;
    color: $white;
    @include transition(0.5s ease);
}

.twit:hover {
    @include box-shadow(0.8 , 40px);
    background-color: $white;
    color: $twit;
}

.doc24 {
    border: 1px solid $white;
    color: $white;
    @include transition(0.5s ease);
}

.doc24:hover {
    border: 1px solid $white;
    background-color: $white;
    color: #50C1E3;
    @include box-shadow(0.35, 40px)
}

.vered {
    border: 1px solid $white;
    color: $white;
    @include transition(0.35s ease);
}

.vered:hover {
    border: 1px solid $white;
    background: $white;
    color: #ff5254;
    @include box-shadow(0.35, 40px)
}


// Contact Icon
nav {
    a {
        z-index: 1000;
        position: fixed;
        right: 16px;
        top: 16px;
        display: block;
        height: 40px;
        width: 40px;
        border: 1px solid $white;
        border-radius: 100%;
        color: $white;
        @include transition(0.2s ease);

        i {
            position: relative;
            top: 7px;
            left: 7.5px;
        }
    }

    a:hover {
        border: 1px solid $white;
        background-color: $white;
        color: $brand;
        @include box-shadow(0.8 , 40px);
    }
}

.home-button {
    a {
        z-index: 1000;
        position: fixed;
        left: 16px;
        top: 16px;
        display: block;
        height: 40px;
        width: 40px;
        border: 1px solid $white;
        border-radius: 100%;
        color: $white;
        @include transition(0.2s ease);

        i {
            position: relative;
            top: 7px;
            left: 7.5px;
        }
    }

    a:hover {
        border: 1px solid $white;
        background-color: $black;
        color: $white;
        @include box-shadow(0.8 , 40px);
    }
}
