.button-general {
	margin-top:24px;
	margin-bottom:8px;
	display:inline-block;
	@include unselectable;
	position:relative;
	z-index:99999;

	a {
	cursor: pointer;
	width: 200px;
	font-size: 18px;
	font-weight:400;
	padding:8px 32px;
	@include transition(0.2s);

	}
}


.doc24-button {
	a {
	border: 2px solid $white;
	color:white;
	@include transition(0.2s);
	}
}	


.doc24-button:hover {
	a {
		background-color:$white;
		color: #00CEAA;
	}
}


.masseda-button {
	a {
	border: 2px solid #F7CE3C;
	color:#F7CE3C;
	
	}
}	


.masseda-button:hover {
	a {
		background-color:$white;
		border:2px solid $white;
		color: #007481;
	}


}



.vered-button {
	a {
	border: 2px solid white;
	color:white;
	}
}	


.vered-button:hover {
	a {
		background-color:$white;
		border:2px solid $white;
		color: rgb(255,82,84);
	}


}





