@media screen and (min-width: 1627px) {

}

@media screen and (min-width: 845px) and (max-width: 960px) {
  nav {
    a {
      position: absolute;
      right: 16px;
      top: 16px;
    }
  }
  .first-slide-height {
    height: auto;
  }

  .doc24-slide {
    height: auto;
      div > img {
      position: relative;
      right: -8rem;


    }
  }

  .vered-slide {
    margin-top: -10rem;
  }
}

@media screen and (min-width:10px) and (max-width:844px) {

  .main-wrapper {
    width: 90%;
  }

  h1 {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -2px;
  }

  h2 {
    font-size: 3rem;
  }
  .doc24-slide {
    padding-bottom: 5rem;
    div > img {
    width: 100%;
    position: relative;
    bottom: 0rem;
    left: 0rem;

    }
  }
  nav {
    a {
      position: absolute;
      right: 16px;
      top: 16px;
    }
  }

  .first-slide-height {
    height: auto;
  }



  .vered-slide {
    margin-top: -10rem;
    padding-bottom: 10rem;
    img {
      width: 150%;
      position: relative;
      bottom: 0rem;
      left: 0px;
    }
  }

  .footer-slide {
    div > h4 > a > i {
      display: none;
    }
    div > h2 {
      font-size: 3rem;
      letter-spacing: 0px;
      line-height: 0.9;
      font-weight: 600;
    }
    div > h4 {
      font-size: 1.5rem;
      letter-spacing: -0.9;
    }
  }
}

@media screen and (min-width:10px) and (max-width:500px) {

  h4 {
    line-height: 0.8;
  }
  .first-slide-height {
    margin-top: -5rem;
    padding-bottom: 5rem;
  }

  main-wrapper {
    padding: 5rem 0;
  }

}
