// Vars
$white: #fafafa;
$brand: #633FF5;
$black: rgba(0,0,0, 0.6);
$white-0: rgba(255,255,255, 0.7);
$drib: #005CFF;
$twit: #1B95E0;
$face: #0177B5;
$doc24: #50E3C2;
$vered: #4d4f53;
$black-vered: #e7e7e7;

//  Typography colors
.vered-t {
    color: #ff5254;
}

.white-0 {
    color: $white-0;
}

.white-t{
  color: $white;
}

.black-t {
  color: $black;
}

.green-t {
  color: $doc24;
}

// Gradients
@mixin main-gradient() {
    background: -moz-linear-gradient(top, rgba(52,62,142,0.35) 0%, rgba(173, 38, 221,0.50) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient (top, rgba(52,62,142,0.35) 0%,rgba(173, 38, 221,0.50) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(52,62,142,0.35) 0%,rgba(173, 38, 221,0.50) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#59343e8e', endColorstr='#59d45dbe',GradientType=1 );
    /* IE6-9 */
}
@mixin doc24-gradient() {
    background: rgb(80,227,194);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(80,227,194,1) 0%, rgba(80,198,223,1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(80,227,194,1) 0%,rgba(80,198,223,1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(80,227,194,1) 0%,rgba(80,198,223,1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#50e3c2', endColorstr='#50c6df',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}

@mixin skills-gradient() {
    background: rgb(99,63,245);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(99,63,245,1) 0%, rgba(121,98,239,1) 51%, rgba(99,63,245,1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(99,63,245,1) 0%,rgba(121,98,239,1) 51%,rgba(99,63,245,1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(99,63,245,1) 0%,rgba(121,98,239,1) 51%,rgba(99,63,245,1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#633ff5', endColorstr='#633ff5',GradientType=0 );
    /* IE6-9 */
}

@mixin vered-gradient() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5254+0,a82846+100 */
  background: rgb(255,82,84); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,82,84,1) 0%, rgba(168,40,70,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,82,84,1) 0%,rgba(168,40,70,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,82,84,1) 0%,rgba(168,40,70,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5254', endColorstr='#a82846',GradientType=0 ); /* IE6-9 */
}

// Box shadow
@mixin box-shadow($opacity, $blur) {
    -webkit-box-shadow: 0 10px $blur 0 rgba(0,0,0,$opacity);
    -moz-box-shadow: 0 10px $blur 0 rgba(0,0,0,$opacity);
    box-shadow: 0 10px $blur 0 rgba(0,0,0,$opacity);
}

::selection {
  background: #FFD900; /* WebKit/Blink Browsers */
  color: $brand;
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
