@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:200,300,400,500,600,700,800|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

$mukta: 'Roboto', sans-serif;
$robo: 'Roboto', sans-serif;


html {
  font-family: $robo;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: $robo;
  font-weight: 800;
}

h1 {font-size: 3.5em; line-height: 1.1;font-weight:bolder; letter-spacing: 0px; cursor: default;}
h2 {font-size: 2.7rem;line-height: 1.1;font-weight:100; letter-spacing: -1px; cursor: default;}
h3 {font-size: 80px; line-height: 0.9;font-weight: bolder; cursor: default;}
h4 {font-size:64px; font-weight:100;margin-bottom:16px;}
h5 {font-size:32px; font-weight:400; font-style:italic;}
h6 {font-size:32px; font-weight:800;}


p {
	font-size:18px;
	font-weight: 300;
    line-height: 1.5;
    i {
    	color:$gum;
    }
}

.line-thro {
  text-decoration: line-through;
}


@media screen and (min-width:10px) and (max-width:768px) { 

h1 {font-size: 2.2em; line-height: 1.1;font-weight:bolder; letter-spacing: 0px; cursor: default;}
h2 {font-size: 1.5rem;line-height: 1.1;font-weight:100; letter-spacing: -1px; cursor: default;}
h3 {font-size: 50px; line-height: 0.9;font-weight: bolder; cursor: default;}
h4 {font-size:50px; font-weight:100;margin-top:0px;}
h5 {font-size:32px; font-weight:400; font-style:italic;}
h6 {font-size:32px; font-weight:800;}



}
