@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:200,300,400,500,600,700,800|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

$mukta: 'Mukta Vaani', sans-serif;
$robo: 'Roboto', sans-serif;


html {
  font-family: $robo;
  font-size: 16px;
  font-weight: 400;
}

h1,h2 {
  font-family: $mukta;
  font-weight: 800;
}

h1 {font-size: 6rem; line-height: 0.9; letter-spacing: -2px;@include unselectable; cursor: default;}
h2 {font-size: 4rem;line-height: 0.9; letter-spacing: -1px;@include unselectable; cursor: default;}
h3 {font-size: 1rem; line-height: 1;font-weight: bolder;@include unselectable; cursor: default;}

p {
    line-height: 1.5;
}

.line-thro {
  text-decoration: line-through;
}
